.filled-values {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: #04AA6D;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    text-align: center;
    padding: 14px;
    margin: 4px 2px;
    border-radius: 5px;
    width: 100%;
}